<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<center><h1>Enter an ISBN number: </h1></center>

<form method="post" action= "isbnnum">
   <center><input type="text" name ="ISBN">
   <input type="submit"> 
</form>
<br>  <!--it shows in the another line-->
<%= Answer %>